<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eu reciclo</title>
  </head>
  <body>
    <header>Eu Reciclo</header>
    <table>
      <tr>
        <td>Comprador</td>
        <td>Descrição</td>
        <td>Preço Unitário</td>
        <td>Quantidade</td>
        <td>Endereço</td>
        <td>Fornecedor</td>
      </tr>
      {% for i in output[0] %}
      <tr>
        <td>{{i["Comprador"]}}</td>
        <td>{{i["Descrição"]}}</td>
        <td>{{i["Preço Unitário"]}}</td>
        <td>{{i["Quantidade"]}}</td>
        <td>{{i["Endereço"]}}</td>
        <td>{{i["Fornecedor"]}}</td>
      </tr>
      {% endfor %}
    </table>
    <h2>Receita bruta total dos registros</h2>
    <p>{{output[1]}}</p>
  </body>
</html>
