<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />

    <title>Eu Reciclo</title>
  </head>
  <body>
    <div class="menu">
      <h1>Eu<span class="logo">reciclo</span></h1>
      <a href="http://localhost:5000/register"
        ><input
          type="button"
          value="Tabela registros"
          class="btn btn-secondary"
      /></a>
    </div>
    <div class="container">
      <h3>Envie seu arquivo</h3>
      <form
        action="http://localhost:5000/register"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" class="btn btn-primary" />
        <input type="submit" value="Submit" class="btn btn-secondary" />
        <p>Importante! O arquivo enviado deverá ser no formato txt</p>
      </form>
    </div>
  </body>
</html>
